*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #101820;
}

p {
    font-size: 20px;
    font-weight: 400;
}

#header {
    width: 100%;
    height: 100%;
    /* background-image: url(pics/me_and_Hank.jpg); */
    background-position: center;
}

.profile {
    max-width: 320px;
    display: inline-block;
}

.container {
    background-size: 100%;
    padding: 10px 10%;
}

.logo {
    width: 10%;
    min-width: 150px
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00ab84;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: white;
}   
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
   color:  #00ab84;
}

/* ------------about */
#about{
    margin-top: 10%;
    color: #8ebab4;
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 10px 10%;
}
.dogpic{
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: 15px;
} 
.about-col-1 img{
    border-radius: 15px;
}
.about-col-2{
    margin-left: 30px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

h2 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 400;
}


/* ---------portfolio--- */
#portfolio{
    margin-top: 10%;
    padding: 10px 0;color: white;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 15px;
    aspect-ratio: 16/9;
}

.work img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #00ab84);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}

.layer h3{
    font-weight: 800;
    margin-bottom: 20px;
}
.layer a {
    margin-top: 20px;
    color:  #00ab84;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}


.work-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.github-link {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00ab84;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #00ab84;
}
/* --------contact---------- */
.contact-left p{
    flex-basis: 35%;
    margin-top: 30px;
    color: white;
    display: flex; 
    align-items: center; 
}

.contact-left p i::before {
    color: white; /* Set the color of the icon's content (text) to white */
  }

.contact-left p i {
    color:  #00ab84;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons {
    margin-top: 30px;
}
.social-icons a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform0.5s;
}
.social-icons a:hover{
    color:  #00ab84;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background-color: #00ab84;
}

/* ---------Css for mobile-------- */
@media only screen and (max-width:600px) {
    .header-text{
        margin-top: 30%;
        font-size: 24px;
    }
    .header-text h1{
        font-size: 24px;
    }
    .sub-title {
        font-size: 21px;
        font-weight: 300;
    }
    .contact-left {
        font-size: 10px
    }

    p {
        font-size: 18px;
    }
}

@media only screen and (max-width:800px) {
   #about {
        grid-template-columns: 1fr;
   }

   .about-col-1 {
    text-align: center;
   }

   .dogpic {
    width:  47%;
   }
}

/* ---------CSS for small screen-------- */
@media only screen and (min-width: 601px) and (max-width:1168px) {
    .header-text h1{
        font-size: 45px;
    }

    .sub-title {
        font-size: 45px;
    }
}

